#item-type-2{
    width: 300px;
    height: 370px;
    min-height: 353px;
    display: flex;
    margin: 20px 0;
  }
  .content-type-2{
    width: 100%;
    padding: 20px 15px;
    margin: 0 10px;
    border: 1px solid rgb(24, 158, 255);
    border-radius: 8px;
    box-shadow: 0px 2px 12px -2px #333333;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
    align-items: center;
  }
  .content-type-2 img{
    width: 61%;
    height: 48%;
  }
  .content-type-2:hover{
    transform: scale(1.1);
    transition: 1s;
  }
  .content-type-2 a:hover{
    color: black;
    display: contents;
    color: rgb(24, 158, 255);
  }
  .content-type-2 p{
    padding: 5px;
  }
  .content-type-2 a{
    color: black;
    display: contents;
  }
  .content-type-2 #price{
    color: red;
  }
  
  .content-type-2 #btnBuy{
    width: 150px;
  
  }
  .content-type-2 #price_old{
    text-decoration: line-through;
    color: black;
    margin-right: 15px;
  }